.slide
{
	/* transition: height 0.5s; */
	transition-property: height, margin, padding, border;
	transition-duration: 0.5s;
	overflow: hidden;
}

.rotateDown
{
	transition: top 0.5s;
}

.leftTransition
{
	transition: left 0.5s;
}

.fade
{
	transition: opacity 0.3s;
}

.textColor
{
	transition: color 0.5s;
}

.bgColor
{
	transition: background 0.4s;
}