.pulled
{
	position: relative;
	z-index: 10001;
	/* exceptionally(?) for lucky and radio pulled ones will be transitable */
	transition-property: top, bottom;
	transition-duration: 1s;
}

#intro
{
	position: absolute;
	color: white;
	z-index: 10001;
}

#intro .medium
{
	font-size: 30px;
}

#intro .big
{
	font-size: 64px;
}

#intro .text
{
	position: fixed;
	left: 0px;
	right: 0px;
	transition-property: top, bottom, opacity;
	transition-duration: 1s;
}

#intro .none
{
	display: none;
}

#intro .welcome
{
	top: 180px;
	text-align: center;
	opacity: 0;
}

#intro .welcome.on
{
	top: 200px;
	opacity: 1;
}

#intro .afterwelcome
{
	top: 285px;
	text-align: center;
}

#intro .afterwelcome div
{
	transition-property: top, opacity;
	transition-duration: 1s;
	position: relative;
	top: -20px;
	opacity: 0;
	max-width: 800px;
	margin: 0 auto;
}

#intro .afterwelcome div.on
{
	top: 0px;
	opacity: 1;
}

#intro .continue
{
	opacity: 0;
	bottom: 120px;
	right: 50px;
	left: auto;
	cursor: pointer;
}

#intro .continue.on
{
	opacity: 1;
	bottom: 100px;
}

#intro .continue.under
{
	text-decoration: underline;
}

#intro .continue:hover
{
	text-decoration: underline;
}

#intro .into
{
	top: 60px;
	text-align: center;
}

#intro .into div
{
	transition-property: top, opacity;
	transition-duration: 1s;
	position: relative;
	top: -20px;
	opacity: 0;
}

#intro .into div.on
{
	top: 0px;
	opacity: 1;
}