html, body
{
	margin: 0;
	padding: 0;
}
#main
{
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	text-align: center;
}

#main > div
{
	margin: 20px;
	padding: 15px;
	border: 1px solid black;
}

.alertbox-window
{
	display: inline-block;
	position: fixed;
	z-index: 10001;
	width: 450px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}

.alertbox-window .title
{
	font-weight: bold;
	font-size: 20px;
}

.alertbox-window .message
{

}

.alertbox-window .buttons
{
	text-align: right;
}

span[contenteditable=true]
{
	background-color: gray;
}

#lucky, #zegar, #data, #alarmy, #radio
{
	background-color: white;
}

#lucky h3
{
	word-spacing: 10px;
	text-decoration: underline;
}

#zegar
{
	margin: 15px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

p#czas
{
	font-size: 20px;
	cursor: pointer;
}

p#czas > div
{
	display: inline-block;
	margin: 0 5px;
}

p#czas > div > div.first, p#czas > div > div.second
{
	overflow: hidden;
	width: 10px;
	position: relative;
	display: inline-block;
	height: 18px;
}

p#czas > div > div.first > div, p#czas > div > div.second > div
{
	position: absolute;
	top: -18px;
}

table#timeEdit
{
	border: 1px solid black;
	text-align: center;
}

table#timeEdit tr:first-child td
{
	border-bottom: 1px solid black;
	font-weight: bold;
}

table#timeEdit td
{
	padding: 8px;
	width: 60px;
}

table#timeEdit td div
{
	border-radius: 8px;
}

table#timeEdit td div:hover
{
	box-shadow: 0px 0px 8px lightblue;
}

table#timeEdit td div:focus
{
	box-shadow: 0px 0px 8px blue;
}

#analog > div
{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border: 2px solid black;
	position: relative;
	margin: 0 auto;
}

#analog > div > div
{
	background-color: black;
	position: absolute;
	top: 150px;
	transform-origin: center top;
}

#analog > div > div#hourPointer
{
	height: 100px;
	width: 6px;
	left: 147px;
}

#analog > div > div#minutePointer
{
	height: 120px;
	width: 4px;
	left: 148px;
}

#analog > div > div#secondPointer
{
	height: 140px;
	width: 2px;
	left: 149px;
}

#analog > div span
{
	display: block;
}

#analog > div > span.number
{
	position: absolute;
	left: 130px;
	width: 40px;
	height: 150px;
	transform-origin: center bottom;
	font-size: 40px;
}

#analog > div > span.indicator
{
	position: absolute;
	left: 149px;
	width: 2px;
	height: 150px;
	transform-origin: center bottom;
}

#analog > div > span.indicator > span
{
	width: 2px;
	height: 8px;
	background-color: black;
}

#data > p
{
	font-size: 20px;
}

.kalendarz
{
	display: inline-block;
	border: 1px solid black;
	margin: 0 auto;
	padding: 10px;
	width: 258px;
	height: 263px;
	position: relative;
}

.kalendarz div.head
{
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.kalendarz div.head > span
{
	margin: 0 10px;
	width: 140px;
	height: 20px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 4px;
}

.kalendarz div.head > span > span
{
	width: 116px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 12px;
}

.kalendarz div.head > span > span.previous
{
	left: -118px
}

.kalendarz div.head > span > span.next
{
	left: 142px
}

.kalendarz div.head > input[type=button]
{
	background-color: white;
	border: 1px solid black;
	padding: 2px 10px;
}

.kalendarz div.head > input[type=button]:hover
{
	cursor: pointer;
}

.kalendarz div.display
{
	position: relative;
	overflow: hidden;
	height: 218px;
}

.kalendarz div.display table
{
	position: absolute;
	left: 30px;
	z-index: 1;
}

.kalendarz div.display table.previous
{
	left: -208px;
}

.kalendarz div.display table.next
{
	left: 258px;
}

.kalendarz div.display table td
{
	text-align: center;
	padding: 5px;
}

.kalendarz div.display table td:hover
{
	cursor: pointer;
	outline: 1px solid lightgray;
}

.kalendarz div.display table td.selected
{
	background-color: blue;
	color: white;
}

.kalendarz div.display table td.actual
{
	outline: 1px solid black;
}

.kalendarz div.display table td.another-month
{
	color: #aaa
}

.kalendarz .note
{
	position: absolute;
	border: 1px solid black;
	width: 200px;
	padding: 10px;
	top: 15px;
	left: -100px;
	z-index: 2;
	background-color: white;
}

/* Added: (date) */
.kalendarz .note .date
{
	text-align: left;
	color: gray;
	font-size: 13px;
}

.kalendarz .note .text
{
	text-align: right;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-bottom: 1px solid black;
}

#alarmy h4
{
	border-bottom: 1px solid black;
	padding: 8px;
}

#alarmy > div > div.alarm
{
	margin: 15px auto;
	width: 600px;
	height: 170px;
	border: 1px solid black;
	position: relative;
}

#alarmy > div > div.alarm span
{
	position: absolute;
	cursor: pointer;
}

#alarmy > div > div.alarm span.message
{
	top: 10px;
	left: 10px;
}

#alarmy > div > div.alarm span.date
{
	top: 42px;
	left: 10px;
}

#alarmy > div > div.alarm span.time
{
	top: 74px;
	left: 10px;
}

#alarmy > div > div.alarm span.naptime
{
	top: 106px;
	left: 10px;
}

#alarmy > div > div.alarm span.repeating
{
	top: 138px;
	left: 10px;
}

#alarmy > div > div.alarm span.delete
{
	top: 10px;
	right: 10px;
	width: 12px;
	height: 12px;
	background-image: url(img/fb.png);
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: 0px -67px;
}

#alarmy > div > div.alarm span.delete:hover
{
	background-position: 0px -79px;
}

#radio p:first-of-type
{
	font-size: 20px;
}

input.time
{
	width: 22px;
}

div.repeatingSlide
{
	border: 1px solid black;
	text-align: left;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 16px;
	padding: 10px;
}