p#czas > div > div.first > div.actual, p#czas > div > div.second > div.actual
{
	top: 0px;
}

p#czas > div > div.first > div.down, p#czas > div > div.second > div.down
{
	top: 18px;
}

p#dateTextColor.textColorInactive
{
	color: #a0a0a0
}

p#napSlide.slideHidden, p#noAlarms.slideHidden
{
	margin-top: -16px;
	margin-bottom: 0px;
	height: 0px;
}

p#napSlide.slideShown, p#noAlarms.slideShown
{
	margin-top: 16px;
	margin-bottom: 16px;
	height: 22px;
}

div.repeatingSlide.slideHidden
{
	height: 0px;
	margin-top: 0px;
	margin-bottom: 0px !important;
	padding: 0 !important;
	border-color: white !important;
}

div.repeatingSlide.slideShown
{
	height: 194px;
}

div.alarm.slideHidden
{
	height: 0px !important;
	padding: 0px !important;
	margin-top: -16px !important;
	margin-bottom: 0px !important;
	border: 1px solid white !important;
}

.notify
{
	background-color: #a52a2a;
}